.idea
bower_components
node_modules

platforms/ios/www/js
platforms/ios/www/images
platforms/ios/www/css
platforms/ios/www/partials
platforms/ios/www/templates
platforms/ios/www/img
platforms/ios/www/fonts
platforms/ios/www/index.html

platforms/browser/www/js
platforms/browser/www/images
platforms/browser/www/css
platforms/browser/www/partials
platforms/browser/www/templates
platforms/browser/www/img
platforms/browser/www/fonts
platforms/browser/www/index.html

platforms/android/assets/www/js
platforms/android/assets/www/images
platforms/android/assets/www/css
platforms/android/assets/www/partials
platforms/android/assets/www/templates
platforms/android/assets/www/img
platforms/android/assets/www/fonts
platforms/android/assets/www/index.html