meyer-reset()
box-sizing-reset()

html
  -webkit-tap-highlight-color rgba(0,0,0,0)

snap-content, snap-drawer
  padding-top 20px

body
  font-family 'Ubuntu', sans-serif !important
  background-color #333

.snap-content
  background bg-color
  background-image radial-gradient(ellipse at center, rgba(0,183,234,0.7) 0%, #54778a 100%);

h1
  color #ffffff
  font-size 24px