font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Light", 300, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-LightItalic", 300, italic, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Regular", 400, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Italic", 400, italic, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Medium", 500, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-MediumItalic", 500, italic, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Bold", 700, formats: 'ttf')
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-BoldItalic", 700, italic, formats: 'ttf')