.uk-form-icon
  input
    color input-color!important
    &.tm-form-cloud
      position relative
      width 100%
      font-size 20px
      font-weight 300
      height 50px !important
      line-height 30px
      +placeholder()
        color placeholder-color
    &:focus
      background-color rgb(249, 249, 249)!important
      +placeholder()
        color placeholder-color

  .uk-icon-right
    margin-left -32px
    margin-top -10px
    color #6d6d6d
    font-size 18px
    &.tm-icon-right-clear
      margin-left -50px

  &.cloud-form-icon
    .uk-icon-hashtag
      margin-top -8px
      margin-left 5px

.uk-form-icon:not(.uk-form-icon-flip)>input
  padding-left 35px!important
  padding-right 70px!important