.uk-icon-at
  z-index 1
  &:before
    content url(icons-path + "at.png")
.uk-icon-search
  z-index 1
  margin-top -9px!important
  &:before
    content url(icons-path + "button_search.png")
.uk-icon-cross
  z-index 1
  &:before
    content url(icons-path + "button_clear_inputbox.png")