.uk-icon-hashtag
  z-index 1
  &:before
    content url(icons-path + "hashtag/icon_hashtag@0.5x.png")
.uk-icon-search
  z-index 1
  margin-top -9px!important
  &:before
    content url(icons-buttons-path + "search/button_search@0.5x.png")
.uk-icon-clear_inputbox
  z-index 1
  &:before
    content url(icons-buttons-path + "clear/button_clear_inputbox@0.5x.png")
