@media (orientation: landscape)
  .tm-margin-top
    margin-top 15px!important
  .tm-margin-bottom
    margin-bottom 20px!important
  .tm-form-help-block
    margin-top 10px

.tm-margin-top
  margin-top 20px

.tm-margin-bottom
  margin-bottom 30px

.tm-form-help-block
  margin-top 20px

.tm-margin-small-left
  margin-left 5px

.tm-margin-small-right
  margin-right 5px

.social-list
  li
    width 66px
    height 66px
    list-style none
    &.google
      background-image url('../images/icons/button_google_plus.png')
      background-repeat: no-repeat
      background-size cover
    &.facebook
      background-image url('../images/icons/button_facebook.png')
      background-repeat: no-repeat
      background-size cover
    &.twitter
      background-image url('../images/icons/button_twitter.png')
      background-repeat: no-repeat
      background-size cover
    &.vk
      background-image url('../images/icons/button_vk.png')
      background-repeat: no-repeat
      background-size cover
