.tm-subnav
  .uk-subnav
    li
      width calc(100% / 3)
      text-align center
      background-color #383e43
      height 50px
      line-height 50px
      text-transform uppercase
      a
        color #d5d6d6!important
        font-weight 300

  .uk-subnav-line
    >:before
      height 36px
      margin-top 7px
      float left!important
      border-color #525a61