//.tags
//  background #ffffff
//  background-image radial-gradient(ellipse at center, rgba(81,91,98,0.7) 0%, #505b62 100%)

.tags-content
  height 230px!important

.cloud-form-icon
  width 100%
  .uk-icon-search
    cursor pointer
    pointer-events auto
  .uk-icon-clear_inputbox
    margin-top -12px!important
    cursor pointer
    pointer-events auto