.uk-width-medium-1-2.uk-container-center
	h1.uk-text-center Signup
	form.uk-form.uk-text-center
		.uk-form-row
			input.uk-form-large.uk-width-8-10(type='text' placeholder='Email or Phone Number')
		.uk-form-row
			input.uk-form-large.uk-width-8-10(type='text' placeholder='Password')
		.uk-form-row
			button.uk-button.uk-button-large.uk-width-8-10(type='button') Sign Up