@require 'core/variables'
@require 'core/base'
@require 'core/offcanvas'
@require 'core/navbar'
@require 'core/fonts'
@require 'core/session'
@require 'core/tags'
@require 'core/forms'
@require 'core/icons'