.offcanvas.uk-height-1-1
  p.uk-panel.uk-panel-box.uk-panel-box-primary(ng-bind='user', ng-show='user')

  ul.uk-nav.uk-nav-offcanvas
    li: a(ui-sref='home') Home
    li: a(ui-sref='signin', ng-show='!user') Signin
    li: a(ui-sref='signup', ng-show='!user') Signup
    li: a(ui-sref='signout', ng-show='user') Signout

