.offcanvas.uk-height-1-1
  .uk-panel.uk-panel-box.uk-panel-box-primary(ng-show='user')
    p(ng-bind='user.email')
  ul.uk-nav.uk-nav-offcanvas
    li: a(ui-sref='home' snap-close) Home
    li: a(ui-sref='signin', ng-show='!user' snap-close) Signin
    li: a(ui-sref='signup', ng-show='!user' snap-close) Signup
    li: a(ng-click='signout()', ng-show='user' snap-close) Signout

