html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
snap-content,
snap-drawer {
  padding-top: 20px;
}
body {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #333;
  color: #fff;
  -webkit-touch-callout: none /* prevent callout to copy image, etc when tap to hold */;
  -webkit-text-size-adjust: none /* prevent webkit from resizing text to fit */;
  -webkit-user-select: none;
}
.snap-content {
  background: #fff;
  background-image: -webkit-radial-gradient(ellipse at center,rgba(81,91,98,0.7) 0%,#505b62 100%);
  background-image: -moz-radial-gradient(ellipse at center,rgba(81,91,98,0.7) 0%,#505b62 100%);
  background-image: -ms-radial-gradient(ellipse at center,rgba(81,91,98,0.7) 0%,#505b62 100%);
  background-image: -o-radial-gradient(ellipse at center,rgba(81,91,98,0.7) 0%,#505b62 100%);
  background-image: radial-gradient(ellipse at center,rgba(81,91,98,0.7) 0%,#505b62 100%);
}
h1 {
  color: #fff;
  font-size: 24px;
}
a {
  color: #91e5ff;
}
a:hover {
  text-decoration: none;
  color: #7acee8;
}
a.transparent {
  color: #fff;
}
a.transparent:hover {
  color: #fff;
  text-decoration: none;
}
.offcanvas {
  background-color: #333;
}
.tm-navbar {
  background: transparent !important;
  border: none;
}
.tm-navbar .uk-navbar-toggle {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 10px;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
}
@media (orientation: landscape) {
  .tm-margin-top {
    margin-top: 15px !important;
  }
  .tm-margin-bottom {
    margin-bottom: 20px !important;
  }
  .tm-form-help-block {
    margin-top: 10px;
  }
}
.tm-margin-top {
  margin-top: 20px;
}
.tm-margin-bottom {
  margin-bottom: 30px;
}
.tm-form-help-block {
  margin-top: 20px;
}
.tm-margin-small-left {
  margin-left: 5px;
}
.tm-margin-small-right {
  margin-right: 5px;
}
.social-list li {
  width: 66px;
  height: 66px;
  list-style: none;
}
.social-list li.google {
  background-image: url("../images/icons/button_google_plus.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.social-list li.facebook {
  background-image: url("../images/icons/button_facebook.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.social-list li.twitter {
  background-image: url("../images/icons/button_twitter.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.social-list li.vk {
  background-image: url("../images/icons/button_vk.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.tags-content {
  height: 300px !important;
}
.cloud-form-icon {
  width: 100%;
}
.cloud-form-icon .uk-icon-search {
  cursor: pointer;
  pointer-events: auto;
}
.cloud-form-icon .uk-icon-clear_inputbox {
  margin-top: -12px !important;
  cursor: pointer;
  pointer-events: auto;
}
.uk-form-icon input {
  color: input-color !important;
}
.uk-form-icon input.tm-form-cloud {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  height: 50px !important;
  line-height: 30px;
}
.uk-form-icon input.tm-form-cloud::-webkit-input-placeholder {
  color: placeholder-color;
}
.uk-form-icon input.tm-form-cloud:-moz-placeholder {
  color: placeholder-color;
}
.uk-form-icon input.tm-form-cloud::-moz-placeholder {
  color: placeholder-color;
}
.uk-form-icon input.tm-form-cloud:-ms-input-placeholder {
  color: placeholder-color;
}
.uk-form-icon input:focus {
  background-color: #f9f9f9 !important;
}
.uk-form-icon input:focus::-webkit-input-placeholder {
  color: placeholder-color;
}
.uk-form-icon input:focus:-moz-placeholder {
  color: placeholder-color;
}
.uk-form-icon input:focus::-moz-placeholder {
  color: placeholder-color;
}
.uk-form-icon input:focus:-ms-input-placeholder {
  color: placeholder-color;
}
.uk-form-icon .uk-icon-right {
  margin-left: -32px;
  margin-top: -10px;
  color: #6d6d6d;
  font-size: 18px;
}
.uk-form-icon .uk-icon-right.tm-icon-right-clear {
  margin-left: -50px;
}
.uk-form-icon.cloud-form-icon .uk-icon-hashtag {
  margin-top: -8px;
  margin-left: 5px;
}
.uk-form-icon:not(.uk-form-icon-flip)>input {
  padding-left: 35px !important;
  padding-right: 70px !important;
}
.uk-icon-hashtag {
  z-index: 1;
}
.uk-icon-hashtag:before {
  content: url("../images/icons/hashtag/icon_hashtag@0.5x.png");
}
.uk-icon-search {
  z-index: 1;
  margin-top: -9px !important;
}
.uk-icon-search:before {
  content: url("../images/icons/buttons/search/button_search@0.5x.png");
}
.uk-icon-clear_inputbox {
  z-index: 1;
}
.uk-icon-clear_inputbox:before {
  content: url("../images/icons/buttons/clear/button_clear_inputbox@0.5x.png");
}
